/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

li.nav:not(:last-child)::after {
  content: " \00b7";
}

li.spaced:not(:last-child)::after {
  content: " \00b7";
}


a {
  @apply border-b text-gray-700 border-gray-500 border-dotted;
}

body {
  @apply leading-9;
}

.redacted {
  position: relative;
  white-space: pre;
}

.redacted:after {
  background: black;
  border-radius: 0.1em;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
  content: " ";
  width: 100%;
  height: 1.2em;
  left: 0;
  position: absolute;
  transform: skewY(-5deg) rotate(5deg);
}
